/* tabuleiro.css */

/* Aplicando layout flexível para o tabuleiro */
.tabuleiro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 800px;  /* Limite máximo de largura */
    max-height: 800px; /* Limite máximo de altura */
    box-sizing: border-box; /* Inclui padding nas dimensões */
    overflow: hidden; /* Impede que o conteúdo ultrapasse os limites */
    margin-left: auto;  /* Centraliza o container horizontalmente */
    margin-right: auto; /* Centraliza o container horizontalmente */
}

/* Estilo do tabuleiro */
.tabuleiro-grid {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;  /* 8 colunas */
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;     /* 8 linhas */
    gap: 2px; /* Espaço entre as casas */
    width: 100%;
    height: auto; 
    max-width: 100%; /* Ajusta a largura conforme o tamanho do container */
    max-height: 80%; /* Limita a altura para 80% do container */
    box-sizing: border-box;
}

/* Estilo das casas */
.tabuleiro-grid .casa {
    width: 100%;
    height: 100%;
    background-color: beige; /* Cor padrão */
}

.tabuleiro-grid .casa:nth-child(even) {
    background-color: brown; /* Cor alternada */
}

/* Estilo do box do jogador */
.jogador-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Ajusta o margin para cima e para baixo, sem auto */
}

.jogador-box label {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.jogador-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.captura-container {
    display: flex;
    margin-top: 10px;
}

.captura-container img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* Estilo para os botões */
.button {
    margin-top: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .tabuleiro-grid {
        max-width: 90vw;
        max-height: 90vw;
    }

    .tabuleiro-grid .casa {
        aspect-ratio: 1; /* Torna as casas quadradas */
    }

    .jogador-box {
        flex-direction: column;  /* Organiza as imagens verticalmente */
        margin: 5px;
    }

    .button {
        font-size: 12px;
        padding: 8px;
    }

    .captura-container img {
        width: 25px;
        height: 25px;
    }
}